{
  "openapi": "3.1.0",
  "info": {
    "title": "App-in.io AI Search API",
    "description": "Semantic search, content indexing, and conversational AI for your website.",
    "version": "1.0.0",
    "contact": {
      "name": "App-in.io",
      "url": "https://app-in.io"
    }
  },
  "servers": [
    {
      "url": "https://api.app-in.io/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    { "name": "Search", "description": "Semantic search across collections" },
    { "name": "Indexing", "description": "Index and delete content" }
  ],
  "paths": {
    "/search/{collection}": {
      "post": {
        "operationId": "searchCollection",
        "summary": "Search content",
        "description": "AI-powered semantic search with natural language query parsing, automatic filters, sorting, suggestions, and clarifying questions.\n\n**How it works:**\n1. AI parses your query — extracts clean search terms, filters, and sort order\n2. Finds the most relevant results using semantic matching\n3. Falls back to broader language search if needed\n4. Drops irrelevant results below quality threshold\n5. Re-sorts by price or rating when detected in query\n6. Suggests alternatives if no results found\n7. Asks clarifying questions for ambiguous queries",
        "tags": ["Search"],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["products", "pages", "docs"]
            },
            "description": "Content collection to search"
          },
          {
            "name": "X-Platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["product", "page", "doc", "woocommerce"]
            },
            "description": "Platform type. Defaults automatically based on collection. Set to `woocommerce` when searching WooCommerce products."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SearchRequest" },
              "examples": {
                "simple": {
                  "summary": "Simple product search",
                  "value": {
                    "query": "red shoes",
                    "limit": 10
                  }
                },
                "filtered": {
                  "summary": "Search with category filter",
                  "value": {
                    "query": "running shoes under $100",
                    "limit": 10,
                    "category_id": 42,
                    "lang": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SearchResponse" }
              }
            },
            "headers": {
              "X-Plan": { "schema": { "type": "string" }, "description": "Current plan name" },
              "X-Rate-Limit": { "schema": { "type": "integer" }, "description": "Requests allowed per minute on the current plan. Always set." },
              "X-Requests-Used": { "schema": { "type": "integer" } },
              "X-Requests-Limit": { "schema": { "type": "integer" } },
              "X-Requests-Remaining": { "schema": { "type": "integer" } },
              "X-Records-Used": { "schema": { "type": "integer" }, "description": "Total indexed records. Always set." },
              "X-Records-Limit": { "schema": { "type": "string" }, "description": "Maximum indexed records, or 'unlimited'. Always set." },
              "X-Records-Remaining": { "schema": { "type": "string" }, "description": "Indexed records remaining, or 'unlimited'. Always set." },
              "X-Tokens-Used": { "schema": { "type": "integer" } },
              "X-Tokens-Limit": { "schema": { "type": "string" }, "description": "Integer or 'unlimited' for BYOK" },
              "X-Tokens-Remaining": { "schema": { "type": "string" }, "description": "Tokens remaining this month. Only set when a token limit applies (not for BYOK)." }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "Collection not available for your site type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "collection": { "type": "string" }
                  }
                },
                "example": { "error": "Collection not available for your site type.", "collection": "products" }
              }
            }
          },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "502": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/index/{collection}": {
      "post": {
        "operationId": "indexContent",
        "summary": "Index content",
        "description": "Index a single document into the specified collection. Returns `202 Accepted` — the document is queued for processing and becomes searchable shortly after.\n\nUse `X-Platform: woocommerce` header for WooCommerce-specific fields.",
        "tags": ["Indexing"],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["products", "pages", "docs"]
            }
          },
          {
            "name": "X-Platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["product", "page", "doc", "woocommerce"]
            },
            "description": "Platform type. Defaults automatically based on collection. Set to `woocommerce` when indexing WooCommerce products."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/IndexProductRequest" },
                  { "$ref": "#/components/schemas/IndexPageRequest" },
                  { "$ref": "#/components/schemas/IndexDocRequest" }
                ]
              },
              "examples": {
                "product": {
                  "summary": "Index a product",
                  "value": {
                    "id": "prod_001",
                    "url": "/products/red-shoes",
                    "title": "Red Running Shoes",
                    "content": "Comfortable lightweight running shoes with air cushioning.",
                    "price": 99.99,
                    "compare_at_price": 129.99,
                    "currency": "USD",
                    "image_url": "https://example.com/shoes.jpg",
                    "in_stock": true,
                    "category": "footwear",
                    "brand": "Nike",
                    "sku": "NK-RS-001",
                    "tags": ["running", "sale"],
                    "rating": 4.5,
                    "reviews_count": 42,
                    "attributes": [
                      { "name": "Size", "value": "42" },
                      { "name": "Weight", "value": "300", "unit": "g" }
                    ]
                  }
                },
                "page": {
                  "summary": "Index a page",
                  "value": {
                    "id": "page_about",
                    "url": "/about",
                    "title": "About Us",
                    "content": "We are a company that sells shoes...",
                    "lang": "en",
                    "tags": ["company"]
                  }
                },
                "woocommerce": {
                  "summary": "WooCommerce product (X-Platform: woocommerce)",
                  "value": {
                    "id": "32",
                    "url": "/product/t-shirt",
                    "title": "T-Shirt",
                    "content": "Cotton t-shirt in multiple colors.",
                    "price": 18,
                    "sku": "woo-tshirt",
                    "on_sale": false,
                    "product_type": "simple",
                    "category": "Tshirts",
                    "attributes": [{ "name": "color", "value": "Gray" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Content queued for indexing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "queued" },
                    "id": { "type": "string", "example": "prod_001" },
                    "collection": { "type": "string", "example": "products" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Record limit reached or collection not allowed" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "delete": {
        "operationId": "deleteContent",
        "summary": "Delete content",
        "description": "Remove a single document from the specified collection by ID.",
        "tags": ["Indexing"],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["products", "pages", "docs"]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": { "type": "string", "description": "Document ID to delete" }
                }
              },
              "example": { "id": "prod_001" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Content deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "deleted" },
                    "id": { "type": "string" },
                    "collection": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/ValidationError" }
        }
      }
    },
    "/index/{collection}/batch": {
      "post": {
        "operationId": "indexContentBatch",
        "summary": "Index content (batch)",
        "description": "Index up to 20 documents in a single request. Returns `202 Accepted` — items are queued as one batch job.\n\nMax 2 concurrent index jobs per site. Use `X-Platform: woocommerce` header for WooCommerce-specific fields.",
        "tags": ["Indexing"],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["products", "pages", "docs"]
            }
          },
          {
            "name": "X-Platform",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["product", "page", "doc", "woocommerce"]
            },
            "description": "Platform type. Applies to all items in the batch."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IndexBatchRequest" },
              "examples": {
                "products": {
                  "summary": "Batch index products",
                  "value": {
                    "items": [
                      {
                        "id": "prod_001",
                        "url": "/products/red-shoes",
                        "title": "Red Running Shoes",
                        "content": "Comfortable lightweight running shoes.",
                        "price": 99.99,
                        "in_stock": true,
                        "category": "footwear"
                      },
                      {
                        "id": "prod_002",
                        "url": "/products/blue-hat",
                        "title": "Blue Baseball Hat",
                        "content": "Classic cotton baseball hat.",
                        "price": 24.99,
                        "in_stock": true,
                        "category": "accessories"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch queued for indexing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "queued" },
                    "count": { "type": "integer", "example": 2 },
                    "collection": { "type": "string", "example": "products" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Record limit reached or collection not allowed" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key in `sk_live_*` format. Get yours from the dashboard at my.app-in.io."
      }
    },
    "schemas": {
      "SearchRequest": {
        "type": "object",
        "required": ["query"],
        "properties": {
          "query": { "type": "string", "maxLength": 500, "description": "Search query in natural language" },
          "limit": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 },
          "lang": { "type": "string", "description": "ISO 639-1 language code", "example": "en" },
          "category_id": { "type": "integer", "minimum": 1, "description": "Filter by category ID" }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query": { "type": "string", "description": "The original query, echoed back. Always present." },
          "collection": { "type": "string", "example": "products", "description": "The collection that was searched. Always present." },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/SearchResult" },
                { "$ref": "#/components/schemas/ProductResult" }
              ]
            }
          },
          "parsed_query": { "type": "string", "description": "Cleaned query after LLM parsing" },
          "parsed_filters": { "type": "object", "description": "Filters extracted from natural language" },
          "sort_by": { "type": "string", "nullable": true, "description": "Extracted sort (price_asc, price_desc, rating_desc)" },
          "low_confidence": { "type": "boolean", "description": "True when no result cleared the relevance threshold and `results` contains best-effort closest matches instead (relaxed score floor, filters still applied). Treat an absent field as false." },
          "corrected_query": { "type": "string", "nullable": true, "description": "Typo-corrected query that produced the results when the original found nothing and the corrected retry succeeded (e.g. \"hyration pak\" -> \"hydration pack\"). Null or absent when no correction fired." },
          "suggestion": {
            "type": "object",
            "nullable": true,
            "description": "Did-you-mean suggestion, returned when a query yields no results but relaxed alternatives exist.",
            "properties": {
              "message": { "type": "string" },
              "alternatives": {
                "type": "array",
                "description": "Suggested alternative results as raw hits. Each item carries the base result fields plus a nested `payload` object with any extra indexed fields — note this differs from the flattened `results[]` items.",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" },
                    "title": { "type": "string" },
                    "snippet": { "type": "string" },
                    "score": { "type": "number" },
                    "type": { "type": "string" },
                    "payload": { "type": "object" }
                  }
                }
              }
            }
          },
          "clarifications": {
            "type": "object",
            "nullable": true,
            "description": "Clarifying question with facets, returned when the query is ambiguous.",
            "properties": {
              "question": { "type": "string" },
              "facets": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": { "type": "string" },
                    "label": { "type": "string" },
                    "options": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "description": "Base search result for pages and docs.",
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "title": { "type": "string" },
          "snippet": { "type": "string", "description": "Short text excerpt. Omitted when not available." },
          "type": { "type": "string", "description": "Content type. Omitted when not available." }
        }
      },
      "ProductResult": {
        "description": "Product search result. Extends the base result with product fields; each product field is omitted when not available.",
        "allOf": [
          { "$ref": "#/components/schemas/SearchResult" },
          {
            "type": "object",
            "properties": {
              "image_url": { "type": "string" },
              "price": { "type": "number" },
              "currency": { "type": "string", "example": "USD" },
              "category": { "type": "string" },
              "in_stock": { "type": "boolean" },
              "sku": { "type": "string" },
              "on_sale": { "type": "boolean" },
              "product_type": { "type": "string" },
              "rating": { "type": "number" }
            }
          }
        ]
      },
      "IndexProductRequest": {
        "type": "object",
        "required": ["id", "url", "title", "content"],
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "title": { "type": "string" },
          "content": { "type": "string" },
          "price": { "type": "number" },
          "compare_at_price": { "type": "number", "nullable": true },
          "currency": { "type": "string", "example": "USD" },
          "image_url": { "type": "string", "nullable": true },
          "in_stock": { "type": "boolean" },
          "category": { "type": "string", "nullable": true },
          "brand": { "type": "string", "nullable": true },
          "sku": { "type": "string", "nullable": true },
          "tags": { "type": "array", "items": { "type": "string" } },
          "rating": { "type": "number", "nullable": true },
          "reviews_count": { "type": "integer", "nullable": true },
          "attributes": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Attribute" }
          }
        }
      },
      "IndexPageRequest": {
        "type": "object",
        "required": ["id", "url", "title", "content"],
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "title": { "type": "string" },
          "content": { "type": "string" },
          "lang": { "type": "string" },
          "image_url": { "type": "string", "nullable": true },
          "published_at": { "type": "string", "format": "date" },
          "tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "IndexDocRequest": {
        "type": "object",
        "required": ["id", "url", "title", "content"],
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string" },
          "title": { "type": "string" },
          "content": { "type": "string" },
          "category": { "type": "string", "nullable": true },
          "tags": { "type": "array", "items": { "type": "string" } },
          "updated_at": { "type": "string", "format": "date" }
        }
      },
      "IndexBatchRequest": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "description": "Array of documents to index. Each item follows the same schema as the single index endpoint.",
            "items": {
              "type": "object",
              "required": ["id", "url", "title", "content"],
              "properties": {
                "id": { "type": "string" },
                "url": { "type": "string" },
                "title": { "type": "string" },
                "content": { "type": "string" }
              },
              "additionalProperties": true
            }
          }
        }
      },
      "Attribute": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": { "type": "string" },
          "value": { "type": "string" },
          "unit": { "type": "string", "nullable": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error body for authentication (401), authorization (403), and service (502) errors.",
        "properties": {
          "error": { "type": "string", "description": "Human-readable error message" }
        }
      },
      "ValidationErrorResponse": {
        "type": "object",
        "description": "Validation error body (422).",
        "properties": {
          "message": { "type": "string" },
          "errors": { "type": "object", "description": "Map of field name to an array of error messages" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "Invalid API key." }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ValidationErrorResponse" },
            "example": {
              "message": "The query field is required.",
              "errors": { "query": ["The query field is required."] }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": { "message": { "type": "string" } }
            },
            "example": { "message": "Too many requests. Please try again later." }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Search service temporarily unavailable",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "Search service unavailable." }
          }
        }
      }
    }
  }
}
